<h1>New User sign in/Welcome to app/Placeholder home screen</h1>
<%= current_user %>


<%= link_to "Sign in", new_user_session_path, :method => :get%>
<%= link_to "Sign up", new_user_registration_path, :method => :get%>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <%= link_to "Test Message", notification_test_message_path(current_user), :method=> :post %>
<%end %>
<br/>

<%= Time.zone.now %><br/>
<%= Time.zone.name %>
